/dev/md0:
           Version : 1.2
     Creation Time : Fri Oct 12 00:25:07 2018
        Raid Level : raid1
        Array Size : 1953349696 (1862.86 GiB 2000.23 GB)
     Used Dev Size : 1953349696 (1862.86 GiB 2000.23 GB)
      Raid Devices : 2
     Total Devices : 2
       Persistence : Superblock is persistent

     Intent Bitmap : Internal

       Update Time : Fri Sep 29 21:56:21 2023
             State : clean, degraded 
    Active Devices : 1
   Working Devices : 1
    Failed Devices : 1
     Spare Devices : 0

Consistency Policy : bitmap

              Name : 0
              UUID : 0db92c50:afef7aa7:ed66ffae:b19e2d97
            Events : 1993207

    Number   Major   Minor   RaidDevice State
       0       8        1        0      active sync   /dev/sda1
       -       0        0        1      removed

       1       8       33        -      faulty   /dev/sdc1
